

/* aqui começa a área de mercados */

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    
}

.master {
  width: 70%;
  margin: auto;
  color:  #d0aa7c; /* Cor do texto descritivo */
  font-size: 30px;
  color: #025949;
  display: flex;
  flex-direction: column;
}

.master p {
    width: 10px;
    padding-top: 40px ;
    margin: auto;
}

.atividade {
    display: inline-block;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    /* border: 1px solid #008e8e;; */
    background-color:  #fff ;
    
}

.atividade:hover {
    transform: scale(1.05);
}

.icone {
    font-size:  30px;
    margin: 0 250px 0px 0;
    /* margin-bottom: 10px; */
    color: #3498db;
     
}

h3 {
    font-size: 17px;
    margin: 0px 0 0px 0px;
    color:  #025949;
    text-align: center;
}

.meu-botao {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #008e8e;
  color: #ffffff;
  border: 2px solid #025949;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.meu-botao a {
  color: #fff;
}

.meu-botao:hover {
  background-color: #025949;
}



